*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* --------------------------------------------Header */
#header{
    height: 30pt;
    border: black thin solid ;
    padding:10px;
}
#header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-flow: wrap;
    font-size: 15pt;
    
}
#header a{
    text-decoration: none;
    color:black;
}
/* ----------------------------------------Body1 */
#body1{
    display: flex;
    justify-content: center;
}
.column{
    height: 1000px;
    width: 1000px
}
.newscolumn1{
    border: thin solid black;
    height: 100px;
    width: 200px;
}